.hello {
    background-color: black;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    border-radius: .5rem;
    border-top: rgb(194, 194, 194) solid .55rem;
}